body {
    background-color: ffffff;
}

:root {
    --primary-color : #ff9966;
    --box-shadow : 0px 2px 2px 2px rgb(10, 9, 9);

}

nav {
    padding: 20px 0;
}

nav ul {
    padding: 0;
    margin: 0;
}

nav li {
    display: inline;
    list-style: none;
    line-height: 42px;
    margin-left: 15px;
}

nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

nav a:hover,
nav li.active a {
    color: var(--primary-color);
}

p {
    color: var(--primary-color);
    font-size: 40px;
    font-weight: 500;
    font-family: "Caprasimo";
    text-decoration: overline;
}

.category {
    padding: 50px;
    margin-left: 150px;
}

.category a {
    color: black;
    font-weight: bolder;
    border: 2px solid white;
    background-color: #fca174;
    border-radius: 20px;
    box-shadow: var(--box-shadow);
}

.normal-category-prices {
    color: black;
}

.category-flowers {
    border-radius: 5px;
}

h1 {
    color: var(--primary-color);
    font-family: fantasy;
    font-size: large;
    
}

.filter {
    color: black;
    text-decoration: overline;
    font-family: playfair display;
}

.flower-list {
    color: #FF9966;
    font-weight: bolder;
    font-size: larger;
    line-height: 3;
    font-family: Cherry Bomb One;
}

.btn {
    color: var(--primary-color);
    margin-top: 40px;
}

h4 {
    color: black;
}

h5 {
    color: var(--primary-color);
}


h2 {
    
    color: red;
    font-weight: 700;
    
}

.promo {
    background-color: peachpuff;
    margin: 150px 0 50px 0px;
    padding: 20px 0 20px 100px;
}

.promo-flower {
    border-radius: 10px;

}

.flower-name {
    color: black;
    font-weight: bold;
    margin: 10px;
}

.normal-price {
    color: black;
    text-decoration: line-through;
}

.reduced-price {
    color: red;
}

footer {
    padding-top: 80px;
}

footer .contact-box {
    background: black;
    padding: 30px 120px;
    margin-bottom: 30px;
}

footer .customer {
    color: var(--primary-color);
}

footer p {
    font-weight: bold;
}

footer .email-link {
    text-align: center;
    text-decoration: none;
    color: var(--primary-color);
    font-size: 24px;
    font-weight: bold;
}

footer .email-link:hover {
    color: white;
}

footer .contact-links a {
    margin: 0 20px;
    color: black;
    background-color: var(--primary-color);
    font-size: 18px;
    border-radius: 50%;
    padding: 10px 14px;
    transition: all 100ms ease-in-out;
}

footer .contact-links a:hover {
    color: black;
    background: white;
}

